extends layout
block content    
    .contenedor
            .recuadro-principal.recuadro-grande-principal#buscadorp
                .formcontenedor
                    form.formulario-busqueda(method="post", action="/buscarp")
                        input.input-busqueda(type="search" name="term" placeholder="Buscar..." aria-label="Search")
                        input.boton-busqueda(type="submit" value="Buscar")
                if products        
                    each product in products
                        a.product-container#buscador(href="/producto/" + product.id)
                            table.product.edit_product
                                tr.trproduct
                                    td.product-caracteristic
                                        p Nombre:
                                    td.product-info    
                                        p=product.product_name
                                    td.product-info(rowspan="6") 
                                        img.product-photo(src='/img_product/' + product.product_imagenroute)     
                                tr.trproduct
                                    td.product-caracteristic
                                        p Cantidad:
                                    td.product-info     
                                        p=product.product_quantity
                                tr.trproduct
                                    td.product-caracteristic
                                        p Vendedor:
                                    td.product-info     
                                        p=product.user_name + ' ' + product.user_lastname
                                tr.trproduct        
                                    td.product-caracteristic    
                                        p Precio:
                                    td.product-info     
                                        p=product.product_price 
                                tr.trproduct
                                    td.product-caracteristic
                                        p Descripcion:
                                    td.product-info     
                                        p=product.product_description
                                tr.trproduct        
                                    td.product-caracteristic
                                        p Categoria:
                                    td.product-info     
                                        p=product.product_category
                                tr.trproduct
                                    td.product-caracteristic
                                        p Fecha de agregación:
                                    td.product-info       
                                        p=product.product_added
                                                                                                                                                                                                                                                                                                                                                             
                else
                    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
                    .carrusel-content.container-fluid 
                        .carrusel#miCarrusel.carousel.slide(data-ride='carousel')
                            div.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li(data-target='#miCarrusel', data-slide-to='0', class='active')
                                li(data-target='#miCarrusel', data-slide-to='1')
                                li(data-target='#miCarrusel', data-slide-to='2')
                            div.carousel-inner
                                div.carousel-item.active
                                    img(src='img/alim_2.png', class='w-100 img-fluid img-carrusel', alt='...')
                                div.carousel-item
                                    img(src='img/bebidas_2.jpg', class='w-100 img-fluid img-carrusel', alt='...')
                                div.carousel-item
                                    img(src='img/servicios.jpg', class='w-100 img-fluid img-carrusel', alt='...')
                            a.carousel-control-prev(href='#miCarrusel', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#miCarrusel', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
                    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
                    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
                    h1.titleproduct Categorias
                    .tablecategory-container
                        table.tablecategory
                            tr.trcategory
                                td.category-container 
                                    a(href='categoria/alimentos')
                                        h2.category  Alimentos
                                        img.category-image(src='img/alimentos.png', alt="Imagen de la publicación" )
                                td.category-container
                                    a(href='categoria/bebidas')
                                        h2.category  Bebidas
                                        img.category-image(src='img/bebida.png', alt="Imagen de la publicación" )
                                td
                                    a(href='categoria/papeleria')
                                        h2.category  Papeleria
                                        img.category-image(src='img/papeleria.png', alt="Imagen de la publicación" )        
                            tr.trcategory
                                td.category-container
                                    a(href='categoria/videjuegos')
                                        h2.category  Videojuegos
                                        img.category-image(src='img/videojuegos.png', alt="Imagen de la publicación" )
                                td.category-container
                                    a(href='categoria/servicios')
                                        h2.category  Servicios
                                        img.category-image(src='img/servicios.png', alt="Imagen de la publicación" )
                                td
                                    a(href='categoria/otros') 
                                        h2.category  Otros
                                        img.category-image(src='img/otros.png', alt="Imagen de la publicación" )  
                h1.titleproduct                                        
                
                if error_msg.length > 0
                    .error
                        each err in error_msg
                            p= err
    script(src='js/main.js')                                     