extends menulayout
block content2                         
            .recuadro-principal.recuadro-grande-subprincipal#cargaprincipal
                    .formhead
                        h1 Editar Producto
                        form.formularioVolver(action="/productos#cargaprincipal" method="get")
                            button.button#Volver(type="submit") Volver           
                    .product-container
                            table.product
                                form(action="/producto_editar/" + products.id  method="post")
                                    input.input(type="text",name="id", value=products.id, hidden)
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Nombre:
                                        td.product-info 
                                            input.input(type="text",name="product_name", value=products.product_name)
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Cantidad:
                                        td.product-info 
                                            input.input(type="number",name="product_quantity", value=products.product_quantity)
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Precio:
                                        td.product-info 
                                            input.input(type="number",name="product_price", value=products.product_price)         
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Categoria:
                                        td.product-info 
                                            select.input(name='product_category')
                                                option(value='Bebidas' selected=products.product_category === 'Bebidas') Bebidas
                                                option(value='Alimentos' selected=products.product_category === 'Alimentos') Alimentos
                                                option(value='Videojuegos' selected=products.product_category === 'Videojuegos') Videojuegos
                                                option(value='Servicios' selected=products.product_category === 'Servicios') Servicios
                                                option(value='Papeleria' selected=products.product_category === 'Papeleria') Papeleria
                                                option(value='Otros' selected=products.product_category === 'Otros') Otros
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Descripcion:
                                        td.product-info 
                                            textarea(name="product_description", cols="30", rows="10") #{products.product_description}
                                    tr.trproduct        
                                        td.product-info   
                                        td.product-info           
                                            button.button#producto_agregar(type="submit") Guardar producto                          