doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="css/styles.css")
        link(rel="icon", href="img/logo.ico")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
        if isAuthenticated
            script(src="/socket.io/socket.io.js")
            script(src="js/chat.js")
            script(src="js/main.js")
    body
        nav.navbar.navbar-expand-sm.navbar-light#neubar
            .container-fluid
                a.navbar-brand(href='/principal')
                    img(src='img/logo3.png', height='120')
                    h1 ESCOMTRADEU
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link.mx-2(href='/' class=activePage === 'Home' ? 'active' : '') Home
                    li.nav-item
                        a.nav-link.mx-2(href='/contact' class=activePage === 'contact' ? 'active' : '') Contact
                    if isAuthenticated
                        li.nav-item
                                a.nav-link.mx-2(href='/principal' class=activePage === 'principal' ? 'active' : '') Pagina principal                       
                        li.nav-item
                                img#menuImage(src='/imagen/' + img_route alt='Imagen de perfil', height='120', style='border-radius: 50%;cursor: pointer;')
                                
                    else
                        li.nav-item
                            a.nav-link.mx-2(href='/login' class=activePage === 'login' ? 'active' : '') Iniciar Sesion
                        li.nav-item
                            a.nav-link.mx-2(href='/signup' class=activePage === 'Signup' ? 'active' : '') Crear una cuenta
        div.menulateral#menuLateral(style='display: none;')
            ul
                form.formulario-busqueda
                    input.boton-menu-lateral(type="submit" value="Perfil")
                form.formulario-busqueda
                    input.boton-menu-lateral(type="submit" value="Buscar")
                form.formulario-busqueda(action="logout", method="get")
                    input.boton-menu-lateral(type="submit" value="Cerrar Sesion")                       
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> 
        .main-content
            block content
        footer.footer
            .container
                .row
                    .col-md-4.footer-section
                        h5 Acerca de
                        p Emi
                        p Marco
                        p Josue
                        p Charly
                    .col-md-4.footer-section
                        h5 Contacto
                        p Dirección: Av. Juan de Dios Bátiz s/n esq. Av. Miguel Othón de Mendizabal. Colonia Lindavista. Alcaldia: Gustavo A. Madero. C. P. 07738. Ciudad de México.
                        p Teléfono: 57296000 Ext. 46188
                        p Email: EscomTradeU@ipn.mx

                    .col-md-4.footer-section
                        h5 Síguenos
                        a(href='#') Facebook
                        br
                        a(href='#') Twitter
                        br
                        a(href='#') Instagram

                .row.copy-right
                    p &copy; Escuela Superior de Computacion
    
        