extends menulayout
block content2                         
            .recuadro-principal.recuadro-grande-principal
                    .product-container#newProduct
                        .author-info
                            .product-options
                                form.formularioPublicar#producto_agregar(action="/addproduct" method="get")
                                    button.button#producto_agregar(type="submit") Agregar producto                 
                    each product in products                                                 
                        .product-container
                            .author-info
                                img.product-photo(src='/img_product/' + product.product_imagenroute)
                                .product-info
                                    .product-name
                                        h3 Nombre:
                                        h3=product.product_name
                                    .product-name
                                        h3 Cantidad:
                                        h3=product.product_quantity
                                    .product-name
                                        h3 Descripcion:
                                        h3=product.product_description   
                                    .product-name
                                        h3 Precio:
                                        h3=product.product_price
                                    .product-name
                                        h3 Categoria:
                                        h3=product.product_category
                                    .product-name
                                        h3 Fecha de agregacion:
                                        h3=product.product_added    
                                .product-options            
                                    form.formularioPublicar#producto_editar(action="/mispost" method="get")
                                        button.button#editar_perfil(type="submit") Editar producto
                                    form.formularioPublicar#producto_eliminar(action="/mispost" method="get")
                                        button#editar_perfil(type="submit") Eliminar producto
