extends menulayout
block content2                         
            .recuadro-principal.recuadro-grande-subprincipal#cargaprincipal
                    .product-container#newProduct
                        .author-info
                            .product-options
                                form.formularioPublicar#producto_agregar(action="/addproduct#cargaprincipal" method="get")
                                    button.button#producto_agregar(type="submit") Agregar producto

                    each product in products
                        .product-container
                            table.product.edit_product
                                tr.trproduct
                                    td.product-caracteristic
                                        p Nombre:
                                    td.product-info    
                                        p=product.product_name
                                    td.product-info(rowspan="6") 
                                        img.product-photo(src='/img_product/' + product.product_imagenroute) 
                                    td.product-options(rowspan="6")             
                                        form.formularioPublicar#producto_editar(action="/producto_editar/" + product.id + "#cargaprincipal" method="get")
                                            button(type="submit") Editar producto
                                        form.formularioPublicar#producto_eliminar(action="/miproducto_borrar/" + product.id method="get")
                                            button(type="submit") Eliminar producto         
                                tr.trproduct
                                    td.product-caracteristic
                                        p Cantidad:
                                    td.product-info     
                                        p=product.product_quantity
                                tr.trproduct        
                                    td.product-caracteristic    
                                        p Precio:
                                    td.product-info     
                                        p=product.product_price 
                                tr.trproduct
                                    td.product-caracteristic
                                        p Descripcion:
                                    td.product-info     
                                        p=product.product_description
                                tr.trproduct        
                                    td.product-caracteristic
                                        p Categoria:
                                    td.product-info     
                                        p=product.product_category
                                tr.trproduct
                                    td.product-caracteristic
                                        p Fecha de agregación:
                                    td.product-info       
                                        p=product.product_added                                                
                                
                    