extends layout
block content    
    .contenedor
            .recuadro-principal.recuadro-grande-principal#buscadorp
                .formcontenedor
                    form.formulario-busqueda(method="post", action="/buscarp")
                        input.input-busqueda(type="search" name="term" placeholder="Buscar..." aria-label="Search")
                        input.boton-busqueda(type="submit" value="Buscar")
                if products        
                    each product in products
                        .product-container
                            table.product.edit_product
                                tr.trproduct
                                    td.product-caracteristic
                                        p Nombre:
                                    td.product-info    
                                        p=product.product_name
                                    td.product-info(rowspan="6") 
                                        img.product-photo(src='/img_product/' + product.product_imagenroute)
                                    td.product-options(rowspan="6")             
                                        form.formularioPublicar#producto_editar(action="/perfil/" + product.product_user method="get")
                                            button(type="submit")
                                                p Ver perfil de
                                                p=product.user_name
                                tr.trproduct
                                    td.product-caracteristic
                                        p Cantidad:
                                    td.product-info     
                                        p=product.product_quantity
                                tr.trproduct        
                                    td.product-caracteristic    
                                        p Precio:
                                    td.product-info     
                                        p=product.product_price 
                                tr.trproduct
                                    td.product-caracteristic
                                        p Descripcion:
                                    td.product-info     
                                        p=product.product_description