extends layout
block content
      .recuadro#perfil
        .profile-container
              .user-info
                  .profile-picture
                      img(src='/imagen/' + perfil.user_credential_number + '.jpg', alt="Imagen de Perfil")
                  .user-details
                      h1=perfil.user_name + " " + perfil.user_lastname
                      .user-status
                        - var userState = perfil.user_state
                        div(class=userState == 0 ? 'gray-circle' : userState == 1 ? 'green-circle' : userState == 2 ? 'red-circle' : '')
                        span #{userState == 0 ? 'Desconectado' : userState == 1 ? 'En línea' : userState == 2 ? 'Ocupado' : ''}
                      p Numero de boleta
                      p #{perfil.user_credential_number}
                      p Fecha de nacimiento
                      p #{perfil.fecha_nacimiento}
                      p Género
                      - var userGender = perfil.user_gender
                      p #{userGender == 'H' ? 'Hombre' : userGender == 'M' ? 'Mujer' : ''}
                      // Botones de acción
                      .perfil-options
                        if perfil.ContactoExistente
                          form(action="/eliminarcontacto" method="post")
                            input(name="id_contact", hidden, value=perfil.user_credential_number)
                            button.button#producto_eliminar(type="submit") Eliminar de mis contactos
                        else
                          form(action="/anadircontacto" method="post")
                            input(name="id_contact", hidden, value=perfil.user_credential_number)
                            button.button#producto_agregar(type="submit") Añadir a contactos
                        form(action="/messages/" + perfil.user_credential_number method="get")
                          button.button#producto_editar(type="submit") Mandar mensaje

                      .rating_container
                      h1 Califica al usuario
                        .rating
                          input(type="radio", name="clr1", style="--c:#ff9933")
                          input(type="radio", name="clr1", style="--c:#ff9933")
                          input(type="radio", name="clr1", style="--c:#ff9933")
                          input(type="radio", name="clr1", style="--c:#ff9933")
                          input(type="radio", name="clr1", style="--c:#ff9933")                    
        
                      
